* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}

img {
  display: block;
  
}

ul {
  margin: 0;
  padding: 0;
}

main {
  margin-left:200px;
  padding-right: 20px;
  padding-left: 20px;
}

aside{
  position: fixed;
  border-right: 10px solid rgba(0,173,238,0.4);
  height:100vh;
  width: 200px;
}

aside img{
  height: 120px;
  margin: 0 auto;
 
  
  
}
aside nav ul li:nth-child(1) a {
  text-decoration: underline;
}

aside li{
  text-align: center;
  text-transform:uppercase;
  border-bottom: 1px solid rgba(0,173,238,0.4);  
  width: 80%;
  margin: 0 auto;
  list-style: none;
  padding:16px 0;

}

aside li a{
  font-weight: bold;
  color: #00ADEE;
  text-decoration:none;
}

header img{
  height:100px;
  padding-bottom: 10px;
}

img.banner{
  width:90vw;
}

div{
  width: 33%;
}
section {
  display: flex; /* Use flexbox */
  justify-content: space-around; /* Optional: space them out evenly */
}

section > div {
  flex: 1; /* Optional: allow divs to grow equally */
  margin: 10px; /* Optional: add some spacing */
  padding: 10px;
  
}
i {
  padding-top: 10px;
}